{
  "name": "vokra",
  "version": "@@VERSION@@",
  "description": "Speech-first inference runtime (ONNX Runtime alternative for speech AI).",
  "homepage": "https://github.com/ayutaz/vokra",
  "license": "Apache-2.0",
  "supports": "!uwp"
}
